//
// Sidebar
//

// General mode
.app-sidebar {
    .separator {
        border-bottom: var(--#{$prefix}app-separator-border);
        margin: 0.75rem 0;
    }

    .menu-heading {
        color: var(--#{$prefix}gray-700);
    }

    .hover-scroll-overlay-y {        
        @include scrollbar-color(var(--#{$prefix}gray-200), var(--#{$prefix}gray-300));        
    }

    .menu {
        padding: 0 $app-sidebar-base-px;
        @include app-layout-transition(padding);
    
        // Root items
        > .menu-item {
            > .menu-link {
                height: $app-sidebar-base-menu-link-height;
                margin-bottom: 3px;                
    
                .menu-title {
                    font-size: 1.15rem;
                    font-weight: $font-weight-bold;
                }
            }
    
            > .menu-sub {
                > .toggle  {
                    color: var(--#{$prefix}gray-600);
    
                    i {
                        color: var(--#{$prefix}success);
                    }
                }

                .menu-link {   
                    .menu-bullet {                        
                        .bullet.bullet-dot {
                            width: 6px;
                            height: 6px;
                        }
                    }
                }
            }
    
            @include menu-link-default-state( 
                $title-color: var(--#{$prefix}gray-800), 
                $icon-color: var(--#{$prefix}gray-600),  
                $bullet-color: var(--#{$prefix}gray-400),  
                $arrow-color: var(--#{$prefix}gray-400),  
                $bg-color: null,
                $all-links: false
            );
            
            @include menu-link-hover-state( 
                $title-color: var(--#{$prefix}gray-900), 
                $icon-color: var(--#{$prefix}gray-900),  
                $bullet-color: var(--#{$prefix}gray-900),  
                $arrow-color: var(--#{$prefix}gray-900),  
                $bg-color: null,
                $all-links: false
            );
            
            @include menu-link-show-state( 
                $title-color: var(--#{$prefix}gray-900), 
                $icon-color: var(--#{$prefix}gray-900),  
                $bullet-color: var(--#{$prefix}gray-900),  
                $arrow-color: var(--#{$prefix}gray-900),   
                $bg-color: null,
                $all-links: false
            );
            
            @include menu-link-here-state( 
                $title-color: var(--#{$prefix}gray-800), 
                $icon-color: var(--#{$prefix}gray-600),  
                $bullet-color: var(--#{$prefix}gray-400),  
                $arrow-color: var(--#{$prefix}gray-400),   
                $bg-color: null,
                $all-links: false
            );
    
            @include menu-link-active-state( 
                $title-color: var(--#{$prefix}gray-900), 
                $icon-color: var(--#{$prefix}gray-900), 
                $bullet-color: var(--#{$prefix}gray-900), 
                $arrow-color: var(--#{$prefix}gray-900), 
                $bg-color: var(--#{$prefix}app-sidebar-link-bg-color), 
                $all-links: false
            ); 
    
            // Child items
            .menu-item {                
                > .menu-link {
                    margin-bottom: 0;

                    .menu-title {
                        font-size: 1.15rem;
                        font-weight: $font-weight-bold;
                        padding-top: 0.2rem;
                        padding-bottom: 0.2rem;   
                    }
                }
    
                @include menu-link-default-state( 
                    $title-color: var(--#{$prefix}gray-600), 
                    $icon-color: var(--#{$prefix}gray-600),  
                    $bullet-color: var(--#{$prefix}gray-400),  
                    $arrow-color: var(--#{$prefix}gray-400), 
                    $bg-color: null,
                    $all-links: true
                );
                
                @include menu-link-hover-state( 
                    $title-color: var(--#{$prefix}gray-900), 
                    $icon-color: null,  
                    $bullet-color: var(--#{$prefix}gray-900),  
                    $arrow-color: null,
                    $bg-color: null,
                    $all-links: true
                );
                
                @include menu-link-show-state( 
                    $title-color: var(--#{$prefix}gray-800), 
                    $icon-color: var(--#{$prefix}gray-600),  
                    $bullet-color: var(--#{$prefix}gray-400),  
                    $arrow-color: var(--#{$prefix}gray-400),
                    $bg-color: null,
                    $all-links: false
                );
                
                @include menu-link-here-state( 
                    $title-color: var(--#{$prefix}gray-800), 
                    $icon-color: var(--#{$prefix}gray-600),  
                    $bullet-color: var(--#{$prefix}gray-400),  
                    $arrow-color: var(--#{$prefix}gray-400),
                    $bg-color: null,
                    $all-links: true
                );
    
                @include menu-link-active-state( 
                    $title-color: var(--#{$prefix}gray-900), 
                    $icon-color: var(--#{$prefix}gray-900), 
                    $bullet-color: var(--#{$prefix}gray-900), 
                    $arrow-color: var(--#{$prefix}gray-900), 
                    $bg-color: var(--#{$prefix}app-sidebar-link-bg-color), 
                    $all-links: true
                ); 
            }
        }         
    } 

    .menu.app-sidebar-menu-secondary {
        > .menu-item {
            .menu-link {
                margin-bottom: 0;
            }

            .menu-heading {
                margin-left: 3px;
            }
        }
    }
}

.app-sidebar-navs {
    overflow: hidden;    
}

.app-sidebar-header {
    padding: 0 $app-sidebar-base-px;
    @include app-layout-transition(padding);
}

// Desktop mode
@include media-breakpoint-up(lg) {
    .app-sidebar {
        overflow: hidden;
        top: calc(var(--bs-app-header-height) - #{$app-content-top-offset}) !important;
    }
}